annotated-types==0.6.0
APScheduler==3.6.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==4.2.2
certifi==2023.11.17
charset-normalizer==3.3.2
dateparser==1.1.0
greenlet==1.1.2
idna==3.6
inflection==0.5.1
Pillow==10.3.0
pyairtable==2.2.1
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.8.2
python-telegram-bot
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==1.4.31
tornado==6.1
typing_extensions==4.9.0
tzdata==2021.5
tzlocal==4.1
urllib3==2.1.0
